body {
    background-color: aliceblue;
    vertical-align: middle;
    display: inline;

}

.chef {
    width: 500px;
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

